Basic Data Manipulation

In [ ]:
restaurantBill=36.17
serviceCharge=0.125
tip=restaurantBill*serviceCharge
tip

4.52125

In [ ]:
type(tip)

float

In [ ]:
People=['Gandhi','Riya']

type(People)

list

In [ ]:
People[1]

'Riya'

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/shubham404-error/MLProjects/main/2.lsd_math_score_data.csv')

In [ ]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
X=data['Avg_Math_Test_Score']
type(X)

pandas.core.series.Series

In [ ]:
data['Total Marks']=data['Avg_Math_Test_Score']+100.00
data['Total Marks']=data['Total Marks']**2
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Total Marks
0                      5     1.17                78.93   32015.9449
1                     15     2.97                58.20   25027.2400
2                     30     3.26                67.47   28046.2009
3                     60     4.69                37.47   18898.0009
4                    120     5.83                45.65   21213.9225
5                    240     6.00                32.92   17667.7264
6                    480     6.41                29.97   16892.2009

In [ ]:
# DataFrames is a collection of Series

In [ ]:
coloumn_list=data[['LSD_ppm','Avg_Math_Test_Score']]
coloumn_list

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [ ]:
y=data[['LSD_ppm']]
print(y)
type(y)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [ ]:
del data['Total Marks']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

Modules

In [ ]:
import math as m 
print(m.pi)
m.e

3.141592653589793

2.718281828459045

In [ ]:
from math import *
print(pi*100)
e*100

314.1592653589793

271.8281828459045

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

Functions

In [ ]:
def maggi():
  print('Pour 1 glass of Water and Mix the Tastemaker with maggie on slow flame')
  print('Cook it for 2 mins')
  print('Turn off the gas and let it cool')
maggi()

Pour 1 glass of Water and Mix the Tastemaker with maggie on slow flame
Cook it for 2 mins
Turn off the gas and let it cool